@using CasaDaAprendizagemApp.Data.Models;
@using CasaDaAprendizagemApp.Data.Repositories;

<h3>Create Course</h3>

<EditForm Model="@course">
    <div class="mb-3 form-floating">
        <InputSelect @bind-Value="course.CategoryCourseId" class="form-control">
            @foreach(var category in categoryCourseList)
            {
                <option value="@category.Id">@category.Title</option>
            }
        </InputSelect>
        <label class="form-label">Category</label>
    </div>
    <div class="mb-3 form-floating">
        <InputText @bind-Value="course.Title" class="form-control" />
        <label class="form-label">Title</label>
    </div>
    <div class="mb-3 form-floating">
        <InputText @bind-Value="course.Description" class="form-control" />
        <label class="form-label">Description</label>
    </div>
</EditForm>



@code {
    public List<CategoryCourse> categoryCourseList { get; set; } = new();
    public Course course { get; set; } = new();
    public CourseRepository courseRepository { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
