@using CasaDaAprendizagemApp.Data.Models;
@using CasaDaAprendizagemApp.Data.Repositories;

@inject NavigationManager Navigate;

<EditForm Model="enrollmentCreate">
    <div class="mb-3 form-floating">
        <InputSelect @bind-Value="enrollmentCreate.CourseClassId">
            @foreach(var courseClass in courseClassList)
            {
                <option value="@courseClass.Id">@courseClass.StartDate.ToShortDateString() - @courseClass.FinishDate.ToShortDateString()</option>
            }
        </InputSelect>
        <label class="form-label">Período</label>
    </div>
    <div class="mb-3">
        <button @onclick="OnCancelButtonClicked" class="btn btn-danger">Cancel</button>
        <button @onclick="OnConfirmButtonClicked" class="btn btn-success">Confirm</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public Course course { get; set; } = new();
    public List<CourseClass> courseClassList { get; set; } = new();
    public Enrollment enrollmentCreate { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    public async Task OnCancelButtonClicked()
    {
        await App.Current.MainPage.DisplayAlert("", "Ok", "Cancel");
        await Task.FromResult(true);
    }

    public async Task OnConfirmButtonClicked()
    {
        Navigate.NavigateTo("");
        await Task.FromResult(true);
    }
}
