@using CasaDaAprendizagemApp.Data.Models;


<h3>Entrar</h3>

<EditForm Model="@userLogin">
    <div class="form-floating mb-3">
        <InputText @bind-Value="userLogin.Username"
                   class="form-control" id="username" placeholder="Username" />
        <label for="username">Username</label>
    </div>
    <div class="form-floating mb-3">
        <InputText @bind-Value="userLogin.Password" type="password"
                   class="form-control" id="password" placeholder="Password" />
        <label for="password">Password</label>
    </div>
    <div class="form-check mb-3">
        <InputCheckbox @bind-Value="userLogin.KeepConnected" class="form-check-input" checked />
        <label class="form-check-label">Keep connected</label>
    </div>
    <div class="mb-3">
        <button @onclick="OnCancelButtonClicked" class="btn btn-secondary">Cancel</button>
        <button @onclick="OnConfirmButtonClicked" class="btn btn-success">Confirm</button>
    </div>
</EditForm>


@code
{
    public User userLogin { get; set; } = new();

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    public async Task OnCancelButtonClicked()
    {
        await Task.FromResult(true);
    }

    public async Task OnConfirmButtonClicked()
    {
        await Task.FromResult(true);
    }
}
