@using CasaDaAprendizagemApp.Data.Models;

<EditForm Model="@userRecovery" class="mb-0 g-2">
    <div class="col-md">
        <div class="form-floating">
            <InputText type="email" class="form-control" />
            <label>E-mail</label>
        </div>
    </div>
    <div class="col-md">
        <button class="btn btn-success">Recuperar</button>
    </div>
</EditForm>


@code {
    public User userRecovery { get; set; }
}
