@using CasaDaAprendizagemApp.Data.Models;
@using CasaDaAprendizagemApp.Data.Repositories;
@using CasaDaAprendizagemApp.Pages.Cards;

<article class="container">
    <header class="row">
        <article class="col-6">
            <h3>Lista de Cursos</h3>
        </article>
        <aside class="col-6">
            <button class="btn btn-primary">Novo</button>
        </aside>
    </header>
    <section class="row">
        @foreach(var course in courseList)
        {
            <CourseCard course="@course"></CourseCard>
        }
    </section>
</article>


@code {
    public List<Course> courseList { get; set; } = new();
    protected CourseRepository courseRepository = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
